<section>
  <h1><%= @public_recipe.name %></h1>
  <div>
    <div>
    <p><%= @public_recipe.description %></p>
    <p><%= @public_recipe.preparation_time %></p>
    <p><%= @public_recipe.cooking_time %></p>
    </div>
  </div>
</section>