<section>
  <% @recipe.each do |recipe|%>
    <div>
      <div>
        <h3><%=recipe.name%></h3>
        <%=button_to 'REMOVE', "users/#{current_user.id}/recipes/#{@recipe.id}", :method =>:delete, :data=>{ turbo: false } %>
      </div>
      <div>
        <p>Decription for the recipe</p>
        <div><%=recipe.description %></div>
      </div>
    </div>
  <%end%>
</section>